# Wails
bin
build/bin
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

# System
.DS_Store
Thumbs.db
.task/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Environment Variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.DS_Store

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
cover.out


# Documentation
# docs/ # Docs should be tracked